<section class="resetPassword">
    <label class="subtitle-2 color-primary-70 mt-20 mb-20">Forgot Your Password?</label>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmitResetPassword(resetPasswordForm)">
      <div class="row mb-30">
        <div class="col">
          <label class="input-label">Email</label>
          <input type="text" class="input" id="email" name="email" formControlName="email"
                 [ngClass]="email().invalid && (email().dirty || email().touched) ? 'has-error' : ''"
                 pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
          <ng-container *ngIf="isResetPasswordFormSubmitted && email().invalid">
            <ng-container *ngIf="email().dirty || email().touched">
              <div class="error-text d-block mb-md-n20" *ngIf="email().errors?.required">Email is a required field</div>
              <div class="error-text d-block mb-md-n20" *ngIf="email().errors?.pattern">Must be a valid email format</div>
              <div class="error-text d-block mb-md-n20" *ngIf="email().errors?.minlength">Must be at least two characters</div>
              <div class="error-text d-block mb-md-n20" *ngIf="email().errors?.maxlength">Must be at most 128 characters</div>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="row mb-30">
        <div class="col">
          <button type="submit" class="btn btn-accent-solid">Reset Password</button>
        </div>
      </div>
      <div class="row mb-30">
        <div class="col">
          <p class="input-label">Don't have an account yet? <a routerLink="register">Register</a></p>
        </div>
      </div>
      <div class="row mb-30">
        <div class="col">
          <label class="input-label">Already have an account? <a routerLink="login">Login</a></label>
        </div>
      </div>
    </form>
  </section>