<section class="register">
    <label class="subtitle-2 color-primary-70 mt-20 mb-20">Edit your profile</label>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister(registerForm)">
      <div class="row mb-30">
        <div class="col">
          <label class="input-label">Full Name</label>
          <input class="input" type="text" id="name" name="name" formControlName="name" 
                 [ngClass]="name().invalid && (name().dirty || name().touched) ? 'has-error' : ''" required>
            <ng-container *ngIf="isRegisterFormSubmitted && name().invalid">
              <ng-container *ngIf="name().dirty || name().touched">
                <div class="error-text d-block mb-md-n20" *ngIf="name().errors?.required">Name is a required field</div>
                <div class="error-text d-block mb-md-n20" *ngIf="name().errors?.minlength">Must be at least two characters</div>
                <div class="error-text d-block mb-md-n20" *ngIf="name().errors?.maxlength">Must be at most 128 characters</div>
              </ng-container>
            </ng-container>
        </div>
      </div>
      <div class="row mb-30">
        <div class="col">
          <label class="input-label">Photo</label>
          <input type="file" id="photo" name="photo" (change)="onFileChange($event)" required>
          <ng-container *ngIf="isRegisterFormSubmitted && photo().invalid">
            <ng-container *ngIf="photo().dirty || photo().touched">
              <div class="error-text d-block mb-md-n20" *ngIf="photo().errors?.required">Photo is a required field</div>
            </ng-container>
          </ng-container>
        </div>
      </div>
      <div class="row mb-30">
        <div class="col">
          <label class="input-label">Title</label>
          <input class="input" type="text" id="title" name="title" formControlName="title" 
                  [ngClass]="title().invalid && (title().dirty || title().touched) ? 'has-error' : ''" required>
            <ng-container *ngIf="isRegisterFormSubmitted && title().invalid">
              <ng-container *ngIf="title().dirty || title().touched">
                <div class="error-text d-block mb-md-n20" *ngIf="title().errors?.required">Title is a required field</div>
                <div class="error-text d-block mb-md-n20" *ngIf="title().errors?.minlength">Must be at least two characters</div>
                <div class="error-text d-block mb-md-n20" *ngIf="title().errors?.maxlength">Must be at most 128 characters</div>
              </ng-container>
            </ng-container>
        </div>
      </div>
      <div class="row mb-30">
        <div class="col">
          <label class="input-label">Description</label>
          <textarea class="input" type="text" id="description" name="description" formControlName="description" 
                  [ngClass]="description().invalid && (description().dirty || description().touched) ? 'has-error' : ''" required></textarea>
            <ng-container *ngIf="isRegisterFormSubmitted && description().invalid">
              <ng-container *ngIf="description().dirty || description().touched">
                <div class="error-text d-block mb-md-n20" *ngIf="description().errors?.required">Description is a required field</div>
                <div class="error-text d-block mb-md-n20" *ngIf="description().errors?.minlength">Must be at least two characters</div>
                <div class="error-text d-block mb-md-n20" *ngIf="description().errors?.maxlength">Must be at most 128 characters</div>
              </ng-container>
            </ng-container>
        </div>
      </div>
      <div class="row mb-30">
        <div class="col">
          <button type="submit" class="btn btn-accent-solid">Save</button>
        </div>
      </div>
    </form>
  </section>