<section>
    <div class="row">
        <div class="col">
            <h3>Delete blog?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Are you sure?</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-accent-solid" (click)="deleteBlog()">Yes</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-accent-solid" (click)="closeConfirmDialog()">No</button>
        </div>
    </div>
</section>