<section class="blogs">
    <a routerLink="/blog/create" class="btn btn-accent-outline mt-20 mb-20" *ngIf="isAdmin">Create Blog</a>
    <section class="blogs-grid">
        <h3 class="mt-20 mb-20">{{ blog?.title }}</h3>
        <div class="blogs-grid__icon_name mb-20">
        <img src="http://shamod.s3-website-us-west-1.amazonaws.com/shamod_headshot.png" alt="shamod lacoul icon" class="blogs-grid__icon">
        <div class="blogs-grid__author">
            <p class="blogs-grid__author_firstp">{{ blog?.author }}</p>
            <p>{{ blog?.date_posted  | date :'medium' }}</p>
        </div>
        </div>
        <p>{{ blog?.content }}</p>
        <app-delete-blog-confirmation [blogID]="blog?._id" (clickNo)="onClickNo()" *ngIf="showConfirmDialog"></app-delete-blog-confirmation>
        <div class="row">
            <div class="col">
                <button type="button" [routerLink]="['/blog/edit']" [queryParams]="{ postID: blog?._id }" class="btn btn-accent-outline mt-20 mb-20" *ngIf="isAdmin">Edit</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-accent-outline mt-20 mb-20" (click)="onOpenDeleteBlogConfirmation()" *ngIf="isAdmin">Delete</button>
            </div>
        </div>
    </section>
</section>