<section class="blogs">
  <a routerLink="./blog/create" class="btn btn-accent-outline mt-20 mb-20" *ngIf="isAdmin">Create Blog</a>
  <section *ngFor="let blog of blogs" class="blogs-grid">
    <h3 class="mt-20 mb-20">
      <a [routerLink]="['view', blog._id]">{{ blog.title }}</a>
    </h3>
    <div class="blogs-grid__icon_name mb-20">
      <img src="http://shamod.s3-website-us-west-1.amazonaws.com/shamod_headshot.png" alt="shamod lacoul icon" class="blogs-grid__icon">
      <div class="blogs-grid__author">
        <p class="blogs-grid__author_firstp">{{ blog.author }}</p>
        <p>{{ blog.date_posted  | date :'medium' }}</p>
      </div>
    </div>
  </section>
</section>