.blogs {
    display: grid;
    margin: 0 20%;

    &-grid {
        
        display: grid;

        &__icon {
            height: 64px;
            width: 64px;
            border-radius: 50%;
        }

        &__icon_name {
            display: flex;
        }

        &__author {
            margin-left: 1rem;

            &_firstp {
                margin-top: 0;            
            }
        }
    }
}