@import '~@2ndaddress/sa-sass-globals/sass/dinobean-grid';

header {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;

    @include media-breakpoint-up(sm) {
        max-width: 80%;
    }
    .hamburger {
        cursor: pointer;
        margin-right: 10px;
        margin-top: 10px;

        .bar {
            height: 5px;
            width: 35px;
            background-color: #000;
            margin: 5px 0;
        }
    }

    .menu {
        margin-right: 1rem;
        margin-top: 10px;

        .link {
            color: #000;
            margin-right: 10px;
        }
    }

    .mobilemenu {
        display: flex;
        flex-direction: column;
        right: 10px;
        top: 65px;
        position: absolute;

        .link {
            text-decoration: none;
            margin-bottom: 5px;
        }
    }
}