<!--The content below is only a placeholder and can be replaced.-->
<header>
  <svg height="50" width="60" class="mt-10" xmlns:xlink="http://www.w3.org/1999/xlink">
    <a xlink:href="/">
      <circle cx="30" cy="23" fill="transparent" r="20" stroke="black" stroke-width="3"></circle>
      <text alignment-baseline="central" text-anchor="middle">
        <tspan x="25" y="25">S</tspan>
        <tspan x="35" y="35">L</tspan>
      </text>
    </a>
  </svg>
  <div *ngIf="!isMobile" class="menu">
    <a routerLink="blog" class="btn btn-accent-outline mr-10 mb-10">Blog</a>
    <a routerLink="contact" class="btn btn-accent-outline">Contact</a>
  </div>
  <div class="hamburger" (click)="onToggleMenu()" *ngIf="isMobile">
    <div class="bar" [@crissCross]="showMenu ? 'crossNeg45' : 'criss'"></div>
    <div class="bar" [@crissCross]="showMenu ? 'hide' : 'show'"></div>
    <div class="bar" [@crissCross]="showMenu ? 'crossPos45' : 'criss'"></div>
  </div>
  <div class="mobilemenu" *ngIf="showMenu">
    <a routerLink="blog" class="link">Blog</a>
    <a routerLink="contact" class="link">Contact</a>
    <a routerLink="login">Login</a>
    <a routerLink="register">Register</a>
  </div>
  <div *ngIf="loginService.isAuthenticated()">
    <div>Welcome, {{ loginService.getUsername() }}</div>
    <button type="button" (click)="logout()" class="btn btn-accent-solid">Logout</button>
  </div>
  <div *ngIf="!isMobile && !loginService.isAuthenticated()">
    <a routerLink="login" class="mr-10 mb-10">Login</a>
    <a routerLink="register" class="mr-10 mb-10">Register</a>
  </div>
</header>
<hr class="border-accent-50" style="border-width: 1px;">

<router-outlet (activate)="onActivate($event)"></router-outlet>
