<section class="register">
  <label class="subtitle-2 color-primary-70 mt-20 mb-20">Registration</label>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister(registerForm)">
    <div class="row mb-30">
      <div class="col">
        <label class="input-label">Full Name</label>
        <input class="input" type="text" id="name" name="name" formControlName="name" 
               [ngClass]="name().invalid && (name().dirty || name().touched) ? 'has-error' : ''" required>
          <ng-container *ngIf="isRegisterFormSubmitted && name().invalid">
            <ng-container *ngIf="name().dirty || name().touched">
              <div class="error-text d-block mb-md-n20" *ngIf="name().errors?.required">Name is a required field</div>
              <div class="error-text d-block mb-md-n20" *ngIf="name().errors?.minlength">Must be at least two characters</div>
              <div class="error-text d-block mb-md-n20" *ngIf="name().errors?.maxlength">Must be at most 128 characters</div>
            </ng-container>
          </ng-container>
      </div>
    </div>
    <div class="row mb-30">
      <div class="col">
        <label class="input-label">Email</label>
        <input type="text" class="input" id="email" name="email"formControlName="email"
               [ngClass]="email().invalid && (email().dirty || email().touched) ? 'has-error' : ''"
               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
        <ng-container *ngIf="isRegisterFormSubmitted && email().invalid">
          <ng-container *ngIf="email().dirty || email().touched">
            <div class="error-text d-block mb-md-n20" *ngIf="email().errors?.required">Email is a required field</div>
            <div class="error-text d-block mb-md-n20" *ngIf="email().errors?.pattern">Must be a valid email format</div>
            <div class="error-text d-block mb-md-n20" *ngIf="email().errors?.minlength">Must be at least two characters</div>
            <div class="error-text d-block mb-md-n20" *ngIf="email().errors?.maxlength">Must be at most 128 characters</div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="row mb-30">
      <div class="col">
        <label class="input-label">Password</label>
        <input type="password" class="input" id="password" name="password"formControlName="password"
               [ngClass]="password().invalid && (password().dirty || password().touched) ? 'has-error' : ''" required>
        <ng-container *ngIf="isRegisterFormSubmitted && password().invalid">
          <ng-container *ngIf="password().dirty || password().touched">
            <div class="error-text d-block mb-md-n20" *ngIf="password().errors?.required">Password is a required field</div>
            <div class="error-text d-block mb-md-n20" *ngIf="password().errors?.minlength">Must be at least two characters</div>
              <div class="error-text d-block mb-md-n20" *ngIf="password().errors?.maxlength">Must be at most 128 characters</div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="row mb-30">
      <div class="col">
        <label class="input-label">Confirm Password</label>
        <input type="password" class="input" id="repassword" name="repassword" formControlName="repassword"
               [ngClass]="repassword().invalid && (repassword().dirty || repassword().touched) ? 'has-error' : ''" required>
        <ng-container *ngIf="isRegisterFormSubmitted && repassword().invalid">
            <ng-container *ngIf="repassword().dirty || repassword().touched">
              <div class="error-text d-block" *ngIf="repassword().errors?.required">Confirm Password is a required field</div>
              <div class="error-text d-block mb-md-n20" *ngIf="repassword().errors?.minlength">Must be at least two characters</div>
              <div class="error-text d-block mb-md-n20" *ngIf="repassword().errors?.maxlength">Must be at most 128 characters</div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="repassword().dirty || repassword().touched">
            <div class="error-text d-block" *ngIf="registerForm.errors?.mismatch">Password and Confirm Password must match</div>
          </ng-container>
      </div>
    </div>
    <div class="row mb-30">
      <div class="col">
        <button type="submit" class="btn btn-accent-solid">Register</button>
      </div>
    </div>
  </form>
</section>