@import '~@2ndaddress/sa-sass-globals/sass/dinobean-grid';

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image {
        height: 15rem;
        width: 10rem;
        margin-top: 1rem;
        border-radius: 50%;
    }

    .name {
        font-size: 2rem;
        margin-bottom: 0;
        margin-top: 1rem;
    }

    .title {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    .desc {
        border: 1px solid;
        width: 80%;
        border-radius: 6px;

        @include media-breakpoint-up(sm) {
            max-width: 30%;
        }

        p {
            line-height: 1.5rem;
            padding: 0 1rem;
        }

        .socials {

            border-top: 1px solid;
            padding: 1rem 0;
            text-align: center;

            &__link {
                margin: 0 10px;
            }

            &__image {
                height: 2rem;
                border-radius: 5px;
            }
        }
    }
}