<section class="register">
    <label class="subtitle-2 color-primary-70 mt-20 mb-20">Create a user</label>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister(registerForm)">
      <div class="row mb-30">
        <div class="col">
          <label class="input-label">Name</label>
          <input class="input" type="text" id="name" name="name" formControlName="name" required>
          <div class="error-text d-block mb-md-n20">Name is a required field</div>
        </div>
      </div>
      <div class="row mb-30">
        <div class="col">
          <label class="input-label">Email</label>
          <input type="text" class="input" id="email" name="email"formControlName="email" required>
          <div class="error-text d-block mb-md-n20">Email is a required field</div>
        </div>
      </div>
      <div class="row mb-30" *ngIf="!userId">
        <div class="col">
          <label class="input-label">Password</label>
          <input type="password" class="input" id="password" name="password"formControlName="password" required>
          <div class="error-text d-block mb-md-n20">Password is a required field</div>
        </div>
      </div>
      <div class="row mb-30">
          <div class="col">
            <label class="input-label">Status</label>
            <input type="text" class="input" id="status" name="status"formControlName="status" required>
            <div class="error-text d-block mb-md-n20">Status is a required field</div>
          </div>
        </div>
        <div class="row mb-30">
            <div class="col">
              <label class="input-label">Roles</label>
              <input type="text" class="input" id="roles" name="roles"formControlName="roles" required>
              <div class="error-text d-block mb-md-n20">Roles is a required field</div>
            </div>
          </div>
      <div class="row mb-30">
        <div class="col">
          <button type="submit" class="btn btn-accent-solid">Create</button>
        </div>
      </div>
    </form>
  </section>