<section class="users">
  <table border="1">
    <thead>
      <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Status</td>
        <td>Roles</td>
      </tr>
    </thead>
    <tr *ngFor="let user of users">
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.status }}</td>
      <td>{{ user.roles }}</td>
      <td *ngIf="loginService.isAdmin()"><button type="button" id="editUser" [routerLink]="['/users/edit']" [queryParams]="{ userId: user?._id }" >Edit</button></td>
      <td *ngIf="loginService.isAdmin()"><button type="button" id="deleteUser" (click)="onDeleteUser(user._id)">Remove</button></td>
    </tr>
  </table>
</section>
