<section class="register">
  <label class="subtitle-2 color-primary-70 mt-20 mb-20">Registration</label>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePassword(changePasswordForm)">
    <div class="row mb-30">
      <div class="col">
        <label class="input-label">Old Password</label>
        <input type="password" class="input" id="oldpassword" name="oldpassword" formControlName="oldpassword"
               [ngClass]="oldpassword().invalid && (oldpassword().dirty || oldpassword().touched) ? 'has-error' : ''" required>
        <ng-container *ngIf="isChangePasswordFormSubmitted && oldpassword().invalid">
          <ng-container *ngIf="oldpassword().dirty || oldpassword().touched">
            <div class="error-text d-block mb-md-n20" *ngIf="oldpassword().errors?.required">Old Password is a required field</div>
            <div class="error-text d-block mb-md-n20" *ngIf="oldpassword().errors?.minlength">Must be at least two characters</div>
              <div class="error-text d-block mb-md-n20" *ngIf="oldpassword().errors?.maxlength">Must be at most 128 characters</div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="row mb-30">
      <div class="col">
        <label class="input-label">Password</label>
        <input type="password" class="input" id="password" name="password" formControlName="password"
               [ngClass]="password().invalid && (password().dirty || password().touched) ? 'has-error' : ''" required>
        <ng-container *ngIf="isChangePasswordFormSubmitted && password().invalid">
          <ng-container *ngIf="password().dirty || password().touched">
            <div class="error-text d-block mb-md-n20" *ngIf="password().errors?.required">Password is a required field</div>
            <div class="error-text d-block mb-md-n20" *ngIf="password().errors?.minlength">Must be at least two characters</div>
              <div class="error-text d-block mb-md-n20" *ngIf="password().errors?.maxlength">Must be at most 128 characters</div>
          </ng-container>
        </ng-container>
      </div>
    </div>
    <div class="row mb-30">
      <div class="col">
        <label class="input-label">Confirm Password</label>
        <input type="password" class="input" id="repassword" name="repassword" formControlName="repassword"
               [ngClass]="repassword().invalid && (repassword().dirty || repassword().touched) ? 'has-error' : ''" required>
        <ng-container *ngIf="isChangePasswordFormSubmitted && repassword().invalid">
            <ng-container *ngIf="repassword().dirty || repassword().touched">
              <div class="error-text d-block" *ngIf="repassword().errors?.required">Confirm Password is a required field</div>
              <div class="error-text d-block mb-md-n20" *ngIf="repassword().errors?.minlength">Must be at least two characters</div>
              <div class="error-text d-block mb-md-n20" *ngIf="repassword().errors?.maxlength">Must be at most 128 characters</div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="repassword().dirty || repassword().touched">
            <div class="error-text d-block" *ngIf="changePasswordForm.errors?.mismatch">Password and Confirm Password must match</div>
          </ng-container>
      </div>
    </div>
    <div class="row mb-30">
      <div class="col">
        <button type="submit" class="btn btn-accent-solid">Change</button>
      </div>
    </div>
  </form>
</section>