<section class="create_blog">
  <label class="subtitle-2 color-primary-70 mt-20 mb-20">Create your blog</label>
  <form [formGroup]="createBlogForm" class="create_blog__grid-form" (ngSubmit)="editCreateBlog(createBlogForm)">
    <div class="row mb-30">
      <div class="col">
        <label class="input-label">Title</label>
        <input class="input" type="text" id="title" name="title" formControlName="title" required>
      </div>
    </div>
    <div class="row mb-30">
      <div class="col">
        <label class="input-label">Content</label>
        <textarea class="input" id="content" name="content"formControlName="content" required></textarea>
      </div>
    </div>  
    <div class="row mb-30">
      <div class="col">
        <button type="submit" class="btn btn-accent-solid">Submit</button>
      </div>
    </div>
  </form>
</section>
