@import '~@2ndaddress/sa-sass-globals/sass/dinobean-grid';

.create_blog {
    margin: 0 2rem;

    @include media-breakpoint-up(sm) {
        margin: 0 25rem;
    }

    &__grid {
        display: grid;
        margin: 0 20%;

        &-form {
            display: grid;

            textarea.input {
                    resize: none;
                    height: 6rem;
                
            }
        }


    }

}